<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h5> Employee - Summary of Trip Details</h5>
      <hr>
      <div style="padding-bottom: 10px">
      <button (click)="manageTrip()" class="btn btn-primary pull-right"> Confirm Trip</button>
    </div>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Trip Id</th>
              <th>Customer</th>
              <th>Vehicle Reg Number</th>
              <th>Employee</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>From</th>
              <th>To</th>
              <th>Status</th>
              <th>Fare</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let trip of tripsummary">
              <td class="hidden">{{trip.id}}</td>
              <td>{{trip.Customer}}</td>
              <td>{{trip.VehicleId}}</td>
              <td>{{trip.EmployeeId}}</td>
              <td>{{trip.StartDate}}</td>
              <td>{{trip.EndDate}}</td>
              <td>{{trip.From}}</td>
              <td>{{trip.To}}</td>
              <td>{{trip.Status}}</td>
              <td>{{trip.Fare}}</td>             
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>